<%- include ('./layouts/header') %>
<%- include ('./layouts/navbar') %>
<div class="container-fluid mt-3 mb-3">
    <div class="card">
        <div class="card-header"></div>
        <div class="card-body">
            <%- include ('chart') %>
            <%- include ('table') %>
        </div>
        <div class="card-footer">
            <small class="text-body-secondary">Last updated. <%= date %></small>
        </div>
    </div>
</div>
<%- include ('./layouts/footer') %>
